/* Configurações iniciais  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}


/* header */
body {
    background-color: rgb(238, 238, 238);
    /* display: flex;
    flex-direction: column; */
}

body, html {
    height: 100%;
}

header {
    height: 150px;
    background-color: rgb(87, 87, 228);
    background: linear-gradient(124deg, rgba(61,61,171,1) 0%, rgba(87,87,228,1) 64%, rgba(132,132,245,1) 100%);
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 30px;
}

header h2 {
    margin-bottom: 25px;
}

div.informacoes {
    height: 100px;
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
    border-radius: 10px;
    color: black;
    padding: 0 25px;
    -webkit-box-shadow: 2px 3px 14px -4px rgba(0,0,0,0.24); 
    box-shadow: 2px 3px 14px -4px rgba(0,0,0,0.24);
}

.numero-itens, .valor-total {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}


.numero-itens p, .valor-total p {
    margin: 3px;
}

.numero-itens p.titulo, .valor-total p.titulo {
    font-weight: bold;
    font-size: 22px;
    color: rgb(76, 76, 139);
}


/* Sessão de cadastro */
.sessao-cadastro {  
    width: 50%;
    margin: auto;
    margin-top: 60px;
    display: flex;
}

.sessao-cadastro input[type=text], .sessao-cadastro input[type=number]{
    width: 30%;
    margin: 0 3px;
    padding-left: 10px;
    background-color: rgb(238, 238, 238);
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom: 2px solid rgb(87, 87, 228);
}

.sessao-cadastro input[type=button] {
    background-color: rgb(87, 87, 228);
    padding: 5px;
    flex: 0.40;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.sessao-cadastro input[type=button]:hover {
    background-color: rgb(74, 74, 207);
}
.sessao-cadastro input {
    height: 35px;
}

/* lista de itens */
.lista-body {
    border-top: 1px solid rgba(148, 148, 255, 0.6);
    margin:-10px 10px 0 10px;
}

#lista {
    width: 80%;
    background-color: white;
    min-height: 200px;
    margin: 50px auto;
    border-radius: 5px;
}

#tela-view {
    min-height: calc(100vh - 30px);
}

#lista-cabecalho {
    display: flex;
    padding: 10px 0;
    margin: 20px 70px 15px 20px;
}

#lista-cabecalho p{
    flex: 1;
    font-weight: bold;
    color: rgb(52, 52, 122);
}

.item-lista, .item-lista-info {
    display: flex;
    align-items: center;
}

.item-lista{
    padding:10px 10px 10px 20px;
    align-items: center;
}

.item-lista:hover {
    background-color: rgb(245, 245, 245);
}

.item-lista div {
    flex: 1;
}

.item-lista input[type=button] {
    background-color: red;
    color: white;
    padding: 8px 5px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer; 
}

.span-alert {
    width: 100%;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
}

.span-de-alerta {
    width: 100%;
    margin: 10px 0;
}

footer {
    width: 100%;
    text-align: center;
    height: 30px;
}

footer p{
    color: rgb(52, 52, 122);
}
footer a{
    font-weight: bold;
}

.sem-cadastro{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    opacity: 0.4;
} 

/* Responsivo */
@media (max-width: 1200px){
    .sessao-cadastro{
        width: 70%;
    }

}

@media (max-width: 992px){
    .sessao-cadastro{
        width: 80%;
    }

}

@media (max-width: 768px){
    .sessao-cadastro{
        width: 98%;
    }

    div.informacoes {
        width: 90%;
    }

    #lista {
        width: 95%;
        font-size: 14px;
    }

    #lista-cabecalho {
        font-size: 14px;
    }

    .item-lista input[type=button] {
        padding: 5px 8px;
        max-height: 28px;
    }
}